<h2>Readme</h2>
<br />

<%= image_tag "foundation_blog_emblem.png", class: 'emblem'  %>

<p>이 어플리케이션은 <code>Foundation 5</code>를 이용하여 레일스로 만든 블로그입니다. </p>
<p>"FoundBlog 따라하기"라는 Gitbook 책에서 데모로 작성한 블로그 프로젝트를 허로쿠로 배포하여 책의 내용을 이해하는데 도움을 주고자 하였습니다.</p>
<p>소스코드의 github 주소는 <code>https://github.com/LuciusChoi/foundblog</code>이며, 소스코드를 크론하기 위해서는 아래와 같이 터미널에서 실행하면 됩니다. </p>

<blockquote>
  $ git clone https://github.com/LuciusChoi/foundblog.git
</blockquote>

<p>내용 중의 오류가 있을 경우에는 <a href='mailto:lucius.choi@gmail.com'>lucius.choi@gmail.com</a>으로 이메일을 주시면 감사하겠습니다.</p>
<hr>
<p style='text-align:right;'>2014.6.26
<br />최효성 @luciuschoi</p>