ul.comments {
  li.comment {
    list-style: none;
    border-left:1em solid #eaeaea;
    padding-left:.5em;
    margin-bottom: 1em;
    p {
      margin-bottom: .3em;
    }
  }
}

.post_comments {
  margin-bottom:2em;
}