<h2>Preview of Category</h2>

<p>
  <strong>User:</strong>
  <%= @category.user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<hr>

<%= link_to 'Edit', edit_category_path(@category), class: 'button small radius' %>
<%= link_to 'Back', categories_path, class: 'button small radius' %>