<!-- Section for Devise layouts -->
<%= content_for :devise do %>
<div class='row'>
  <div class='medium-6 columns medium-centered'>
    <%= render partial: "shared/flash_messages", flash: flash %>
    <div style='margin:2em 0 5em;'>
      <%= yield %>
    </div>
  </div>
</div>
<% end %>

<!-- Section for Applictiona Layout -->
<%= render template: 'layouts/application' %>